.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  /* width: 90% !important; */
  /* border-radius: 50px !important; */
  text-align: center !important;
  background: rgba(255, 255, 255, 0.4) !important;
}
.autocomplete-content {
  position: absolute;
  text-align: center;
  width: 100%;
}
.section-follow a {
  margin: 10px 15px;
}
